.swipeout-update{background: #FFBF00 !important}
.borrar{background: red !important}
.lista{padding: 10px !important;}
.no_cumplir_tarea {
    color: red !important;
    font-size: 34px;
}
.cumplir_tarea {
    color: #97ce68 !important;
    font-size: 34px;
    margin-left: 10px; margin-right: 10px
}
.tac{text-align: center}
.fijos{/*background:#97ce68 !important;*/padding: 10px !important; /*color: #fff !important*/}
.variables{/*background:#97ce68 !important;*/padding: 10px !important; /*color: #fff !important*/}
.egresos{/*ackground:#ff5655 !important;*/padding: 10px !important; /*color: #fff !important*/}
.statusbar-overlay {
    background: #97ce68 !important;
}
#login_facebook{color: #fff; background: #3b5998; width: 300px; padding: 20px 0; margin: 10px auto; display: block}