<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="tac">Configuracion</h1>
      <img src="img/avatar.jpg" alt="" id="avatar" />
      <input type="file" id="inp" />
      <div class="clearfix"></div>
      <p class="tac" id="rotatebuttons">
        <a href="#" class="rotateleft"
          ><i class="fa fa-undo" aria-hidden="true"></i
        ></a>
        <a href="#" class="rotateright"
          ><i class="fa fa-redo" aria-hidden="true"></i
        ></a>
      </p>
      <div class="clearfix"></div>
      <div class="crop">
        <img id="image" src="" />
      </div>
      <a href="#" id="btn_guardar_avatar" class="boton">GUARDAR AVATAR</a>
      <div id="personal_info"></div>

      <div class="edit_info_inputs">
        <div class="email input-group">
          <input
            class="form-control"
            type="text"
            id="input_edit_email"
            placeholder="Ingrese un nuevo e-mail"
          />
          <button type="submit" class="btn btn-primary" id="change-email-btn">
            Guardar
          </button>
        </div>

        <div class="gender-select input-group">
          <div>
            <select class="form-control" id="input_sexo" style="width: 100%">
              <option selected>Selecciona tu género</option>
              <option value="h"><i class="fas fa-check">Hombre</i></option>
              <option value="m">Mujer</option>
              <option value="o">No binario</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" id="change-gender">
            Guardar
          </button>
        </div>
        <div id="user_name_input" class="input-group">
          <input
            type="text"
            id="input_user_name"
            class="form-control"
            placeholder="Agregue tu nombre"
          />
          <button id="save_user_name_btn" type="submit" class="btn btn-primary">
            Guardar
          </button>
        </div>
      </div>
      <hr color="white" />
      <div>
        <h5 style="text-align: center">
          Configura tus notificaciones para recordarte que debes trabajar en tus
          objetivos
        </h5>
        <label for="">Recordatorio en las mañanas</label>
        <br />
        <div class="row">
          <div class="form-group">
            <input
              type="checkbox"
              data-toggle="toggle"
              class="toggle"
              id="toggle_manana"
            />
          </div>
          <div
            style="display: flex; flex-direction: row"
            id="hora_recordatorio_manana"
          >
            <div class="w-75">
              <div class="form-group">
                <select
                  name=""
                  id="hora_manana"
                  class="form-control"
                  style="width: 95%"
                >
                  <option value="">-HORA-</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
            <div class="w-75">
              <div class="form-group">
                <select name="" id="minuto_manana" class="form-control">
                  <option value="">-MINUTO-</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <label for="" class="tac">Recordatorio en las tardes</label>
        <br />
        <div class="row">
          <div class="form-group">
            <input
              type="checkbox"
              data-toggle="toggle"
              class="toggle"
              id="toggle_tarde"
            />
          </div>
          <div
            style="display: flex; flex-direction: row"
            id="hora_recordatorio_tarde"
          >
            <div class="w-75">
              <div class="form-group">
                <select
                  name=""
                  id="hora_tarde"
                  class="form-control"
                  style="width: 95%"
                >
                  <option value="">-HORA-</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
              </div>
            </div>
            <div class="w-75">
              <div class="form-group">
                <select name="" id="minuto_tarde" class="form-control">
                  <option value="">-MINUTO-</option>
                  <option value="00">00</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr color="white" />
      <div style="text-align: center" class="footer">
        <h6>¡Para más inspiración, compre el libro o síganos en Instagram!</h6>
        <a href="https://soyzombie.com/">
          <i class="fas fa-globe fa-2x" style="color: #e0ffff"></i
        ></a>
        <a
          href="https://www.instagram.com/soyzombie_libro/"
          style="margin-left: 5px"
        >
          <i class="fab fa-instagram fa-2x" style="color: #e0ffff"></i
        ></a>
      </div>
      <div style="text-align: center; text-decoration: underline">
        <a
          style="color: white"
          href="https://soyzombie.com/politicas-de-privacidad/"
          >Política de privacidad</a
        >
      </div>
    </div>
  </div>
</div>
