<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="espacio_zombie"></div>
      <p class="tac">
        ¿Ya completaste tus tareas de hoy para alcanzar tus metas?
      </p>

      <a
        href="views/completar-tareas.html"
        class="boton loadview"
        id="btn_completar"
        >COMPLETAR TAREAS</a
      >
      <a
        href="views/recordatorio-manana.html"
        class="boton loadview"
        id="btn_recordar"
        >RECORDAR TAREAS</a
      >
    </div>
  </div>
</div>
