<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="tac"><strong>Regístrate</strong></h1>
      <form action="">
        <div class="form-group">
          <label for="input_nombre" class="form-label">Nombre completo</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre completo"
            id="input_nombre"
          />
        </div>
        <div class="form-group">
          <label for="input_email" class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            placeholder="Correo electrónico"
            id="input_email"
          />
        </div>

        <div class="form-group">
          <label for="input_pass" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            id="input_pass"
          />
        </div>
        <div class="form-group">
          <label for="input_email" class="form-label"
            >Confirmar contraseña</label
          >
          <input
            type="password"
            class="form-control"
            placeholder="Re-ingrese la contraseña"
            id="input_confirm_pass"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="input_sexo">Género</label>
          <select class="form-control" id="input_sexo" style="width: 100%">
            <option value="h" selected>Hombre</option>
            <option value="m">Mujer</option>
            <option value="o">No binario</option>
          </select>
        </div>
      </form>
      <a href="#" class="boton" id="btn_registrarme">Registrarme</a>
      <p class="tac">
        <a href="views/login.html" class="loadview regresar"
          >¿Ya tienes una cuenta?
        </a>
      </p>
    </div>
  </div>
</div>
